footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
    font-weight: bold;
}

.bg-dark {
    background-color: #343a40;
}

.navbar {
    min-height: 55px;
}

.screen-width {
    padding: 10px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #5cb85c;
    font-weight: bold;
}

button.btn .btn-link {
    color: #5cb85c;
}

img {
    max-height: 100%;
    max-width: 100%;
}

button {
    cursor: pointer;
}

#top-news-title {
    text-align: center;
    padding: 10px;
}

#top-news-description {
    padding: 10px;
    text-indent: 25px;
}

#top-news-link {
    padding: 10px;
}

@media (max-width: 540px) {
    .bg-dark {
        background-color: red;
    }

    .screen-width {
        width: 100%;
    }
}

@media (min-width: 540px) and (max-width: 720px) {
    .bg-dark {
        background-color: #343a40;
    }

    .screen-width {
        width: 50%;
    }
}

@media (min-width: 720px) and (max-width: 1140px){
    .bg-dark {
        background-color: blue;
    }

    .screen-width {
        width: 33%;
    }
}

@media (min-width: 1140px){
    .bg-dark {
        background-color: grey;
    }

    .screen-width {
        width: 20%;
    }
}